<% content_for :admin_content do %>
  <h1>Editing kit</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @kit %> |
  <%= link_to 'Back', kits_path %>
<% end %>
<%= render template: "layouts/admin" %>
