<script type="text/template" id="instrument-template">
  <div class="row">
    <div class="large-1 columns instrument">
      <p><%%- name %></p>
    </div>
  </div>
</script>
<%= render "/layouts/navbar" %>
<div id="pulse-view">
  <div class="row">
    <div id="kit" class="large-12 columns">

    </div>
  </div>
</div>
