<script type="text/template" id="instrument-template">
  <div class="row" id="instrument-<%%- row %>">
    <div class="large-1 columns instrument">
      <p><%%- name %></p>
    </div>
    <div class="large-11 columns notes"></div>
  </div>
</script>
<script type="text/template" id="note-template">
<div class="note-inner <%% active ? null : print('inactive') %>">
  </div>
</script>
<%= render "/layouts/navbar" %>
<div id="pulse-view">
  <div class="row">
    <div id="kit" class="large-12 columns">

    </div>
  </div>
  <div id="controls" class="row controls">
    <div class="large-11 large-offset-1 columns">
      <div id="play" class="button">play</div>
    </div>
  </div>
</div>
