.instrument-pad {
  
  display: inline-block;
  
  .title {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .trigger-pad {
    height: 100px;
    width: 100px;
    background-color: #cacfcf;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  } 
  .trigger-pad:active {
    background-color: #a4a8a8;
    transition: background-color 0s;
  }
  
  .snare {
    background-color: #d40808;
  }
  .snare:active {
    background-color: #a40808;
  }
  .kick {
    background-color: #0081e0;
  }
  .kick:active {
    background-color: #0071d0;
  }
}
