#kit {
  margin-top: 2rem;
}
.instrument {
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  border-bottom: solid #141414 4px;
  p {
    margin-bottom: 0;
  }
}
.notes {
  margin-bottom: 0;
}
.note {
  width: 6.15%;
  height: 3.4rem;
  display: inline-block;
  box-padding: border-box;
  cursor: pointer;
  opacity: 0.75;

  .note-inner {
    height: 100%;
    margin: .2rem .2rem;
    border-radius: 6px;
    background-color: #67BEF0;
  }
  .inactive {
    background-color: #efefef;
  }
}
.controls {
  margin-top: .6rem;
  label {
    font-size: .8rem;
  }
  .button {
    margin-top: .37rem;
  }
}
