#kit {
  margin-top: 2rem;
}

.instrument {
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  border-bottom: solid #141414 4px;
  cursor: pointer;

  &:hover {
    background-color: darken(#333333, 5%);
  }

  p {
    margin-bottom: 0;
  }
}

.notes {
  margin-bottom: 0;
}

$note-color:          #34495e;
$inactive-note-color: #f0f0f0;
$hi-hat-note-color:   #FFDc52;
$snare-note-color:    #e74c3c;
$kick-note-color:     #3498db;
$tom-note-color:      #9b59b6;
$crash-note-color:    #1abc9c;

.note {
  width: 6.15%;
  height: 3.4rem;
  display: inline-block;
  box-padding: border-box;
  cursor: pointer;
  opacity: 0.7;

  .note-inner {
    height: 100%;
    margin: .2rem .2rem;
    border-radius: 6px;
    background-color: $note-color;
  }

  .inactive {
    background-color: $inactive-note-color;

    &:hover {
      background-color: darken($inactive-note-color, 5%);
    }
  }
}

.hi-hats .note-inner:not(.inactive) {
  background-color: $hi-hat-note-color;
}

.snare .note-inner:not(.inactive) {
  background-color: $snare-note-color;
}

.kick .note-inner:not(.inactive) {
  background-color: $kick-note-color;
}

.tom .note-inner:not(.inactive) {
  background-color: $tom-note-color;
}

.crash .note-inner:not(.inactive) {
  background-color: $crash-note-color;
}

.controls {
  margin-top: .6rem;

  .bpm {
    float: left !important;
  }

  label {
    font-size: .8rem;
  }

  .button {
    margin-top: .37rem;
  }
}
