.instrument {
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  border-bottom: solid #141414 2px;
  p {
    margin-bottom: 0;
  }
}
